.output{
    border: 2px solid rgb(180, 212, 138);
    border-radius: 3px;
    height: 3rem;
    width: 50%;
    margin-bottom: 1rem;
    box-shadow: -6px 0px rgb(169, 172, 169);
    margin-left: 25%;
    color: white;

}
.input{
    border: 2px solid rgb(180, 212, 138);
    border-radius: 3px;
    height: 3rem;
    width: 50%;
    box-shadow: -6px 0px rgb(169, 172, 169) ;
    margin-left: 25%;
    
    
}

#btn{
    border: none;
    font-size: large;
    border-radius: 6px;
    background-color: rgb(36, 35, 35);
    cursor: pointer;
    padding: 1rem;
    margin-top: 0.75rem;
    margin-left: 23.5%;
    padding-top: 1rem;
    color: rgb(212, 212, 211);
    box-shadow: 1px 2px rgb(109, 250, 109);
    font-family: monospace;
}


.head{
    height: 6rem;
    background-color: rgb(50, 56, 50);
    margin:none;
     /* border-bottom-right-radius: 1rem;
    border-bottom-left-radius: .1rem;  */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}
.head-hero{
    padding: .9rem;
    text-align: center;
    color: white;
    font-size: larger;
}

#align{
    width: 50%;
    border: 2px solid rgb(63, 73, 63);
    background-color: rgb(255, 223, 223);
    border-radius: 1.2rem;
    /* padding: 0.5rem;  */
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(93, 145, 123);
}

footer{
    /* height: 3rem; */
    background-color: rgb(50, 56, 50);
    padding-top: 1rem;
    margin: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}

#fcontent{
    padding:1rem;
    text-align: center;
}
.li{
    text-decoration: none;
    display: inline;
    padding-right: 1rem;
    font-size: large;
    color: white;
    font-family:monospace;
    

}

#ul{
    list-style-type: none;
    }
#ol{
    display: inline;
}

h4{

    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 800;
    font-family:cursive;
    margin-left: 25%;
    color: rgb(233, 233, 233);
    text-decoration: underline;
}
small{
    color: greenyellow;
}

btn.visit{
    color: black;
    background-color: greenyellow;
}
 #li.hover{
     color: cornflowerblue;
 }