.output{
    border: 2px solid rgb(180, 212, 138);
    border-radius: 3px;
    height: 3rem;
    width: 50%;
    margin-bottom: 1rem;
    box-shadow: -9px 3px green;
    margin-left: 25%;

}
.input{
    border: 2px solid rgb(180, 212, 138);
    border-radius: 3px;
    height: 3rem;
    width: 50%;
    box-shadow: -9px 3px green ;
    margin-left: 25%;
    
    
}

#btn{
    border: none;
    font-size: large;
    border-radius: 6px;
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-left: 23.5%;
    padding-top: 1rem;
}

.head{
    height: 6rem;
    background-color: rgb(255, 255, 121);
    margin:none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
}
.head-hero{
    padding: 1rem;
    text-align: center;
}

#align{
    width: 50%;
    border: 1px solid black;
    background-color: rgb(255, 223, 223);
    border-radius: 8px;
     padding: 0.5rem; 

}

footer{
    /* height: 3rem; */
    background-color: rgb(212, 211, 211);
    padding-top: 1rem;
    margin: none;
}

#fcontent{
    padding:1rem;
    text-align: center;
}
.li{
    text-decoration: none;
    display: inline;
    padding-right: 1rem;
    font-size: large;
    color: white;
    

}

#ul{
    list-style-type: none;
    }
#ol{
    display: inline;
}

h4{
    font-size: large;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-left: 25%;
    color: ivory;
}
